.action-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
}

.btn {
    all: unset;
    display: flex;
    gap: 10px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--text-highlight);
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    justify-content: end;


    transition: .5s;

    &.btn {
        color: white;
        background-color: #0f81c4;

        &:hover,
        &:focus {
            background-color: #0c408f;
        }
    }

}