.tipo-wrapper {
    display: flex;
    flex-direction: column;
}

.radio-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    height: fit-content;
    padding: .2rem;
    gap: 5px;
}

.radio-inner {

    border-radius: .5rem;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 100%;

    padding: .5rem 1rem;
    position: relative;

    color: rgb(177, 177, 177);

    & input,
    & input:focus,
    & input:hover {
        all: unset;

        position: absolute;
        inset: 0;
        padding: 0;
        margin: 0;
    }

    img {
        width: 24px;
    }

    &:hover,
    &:focus-within {
        background-color: rgba(128, 128, 128, 0.075);
        color: rgb(216, 216, 216);

        & .radio-image {
            background-image: url(../../assets/Icons/radio-hover.svg);
        }

    }

    &:has(:checked) {
        background-color: rgba(10, 36, 70, 0.432);
        color: white;


    }


    &:first-child:has(:checked) img {
        content: url("../../assets/icons/building-hover.svg");
    }

    &:last-child:has(:checked) img {
        content: url("../../assets/icons/video-hover.svg");
    }

}


.radio-wrapper-tema {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    justify-content: space-between;
}

.radio-inner-tema {
    background-color: rgba(56, 55, 55, 0.356);

    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;
    align-items: center;
    transition: .5s;

    label {
        padding: 5px;
        color: rgba(255, 255, 255, 0.555);
    }

    & input,
    & input:focus,
    & input:hover {
        all: unset;

        position: absolute;
        inset: 0;
        padding: 0;
        margin: 0;
    }

    &:hover {
        background-color: rgba(18, 44, 73, 0.315);
        transform: translateY(-5px);

        label {
            color: white;
        }



    }


    &:has(:checked) {
        background-color: rgba(8, 48, 95, 0.432);

        label {
            color: white;
        }
    }

    img {
        width: 150px;
    }

}




@media (max-width: 380px) {

    .radio-wrapper-tema {
        gap: 5px;
    }
    .radio-inner-tema {
        width: 40%;

    }

}